<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>每日更新文章</string>
		<string>每日记录ORID</string>
		<string>CSS相关知识整理</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>CSS相关知识整理</key>
			<dict>
				<key>lastModification</key>
				<real>523630066.42676002</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>每日更新文章</key>
			<dict>
				<key>lastModification</key>
				<real>523638001.51725799</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>每日记录ORID</key>
			<dict>
				<key>lastModification</key>
				<real>523690230.97939497</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>test.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523630056.96931899</real>
				<key>lastModification</key>
				<real>523630056.96931899</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>廖雪峰JS_标准对象.md</key>
			<dict>
				<key>lastModification</key>
				<real>523616069.34516799</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523616071.971003</real>
				<key>lastModification</key>
				<real>523616071.971003</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>test.md</string>
		</array>
		<array>
			<string>廖雪峰JS_标准对象.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
