<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>523616057.563667</real>
		<key>sheetClusters</key>
		<dict>
			<key>01 CSS选择器.md</key>
			<dict>
				<key>lastModification</key>
				<real>526026038.31422198</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>02 层叠和继承.md</key>
			<dict>
				<key>lastModification</key>
				<real>526028417.75875902</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>03 元素的分类.md</key>
			<dict>
				<key>lastModification</key>
				<real>526030762.38869101</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>04 盒模型定位和浮动.md</key>
			<dict>
				<key>lastModification</key>
				<real>526228009.20626599</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>19</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>523616062.73955297</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>01 CSS选择器.md</string>
		</array>
		<array>
			<string>02 层叠和继承.md</string>
		</array>
		<array>
			<string>03 元素的分类.md</string>
		</array>
		<array>
			<string>04 盒模型定位和浮动.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
			<integer>20</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
