<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>001 给自己的未来打点鸡血.md</key>
			<dict>
				<key>lastModification</key>
				<real>523722908.54193997</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>近期随笔.md</key>
			<dict>
				<key>lastModification</key>
				<real>523638245.82953203</real>
				<key>version</key>
				<dict>
					<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>近期随笔.md</string>
		</array>
		<array>
			<string>001 给自己的未来打点鸡血.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ab425f9b5e21800d08e32eaaf4a48070958a509a4ed5e62d77ed94fb031f00e7</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
